.dotsContainer {
    width: 100%;
    height: 100%;
    background-color: #000000;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.active {
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.daysDots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: transform 0.2s, background-color 0.3s, box-shadow 0.3s;
}

.daysDots .past {
    background-color: #464346;
    box-shadow: none;
    width: 5px;
    height: 5px;
}

.tooltip {
    position: absolute;
    transform: translate(-50%, -100%);
    z-index: 10;
    background-color: #ffffff;
    color: #000000;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 1;
    pointer-events: none;
    transition: all 0.2s ease;
}

.dotWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 25px;
}

.dotWrapper:hover .dotTooltip {
    opacity: 1;
}

.details p {
    margin: 0;
    padding: 0;
}

.details.dots .number {
    font-size: 2rem;
    font-weight: bold;
}

.details.dots .daysLeftText, .dates.dots { 
    color: #444444;
}